<?xml version="1.0"?>
<launch>

    <!-- Launch arguments -->
    <arg name="name"          default="svea0"/>
    <arg name="use_fake"      default="false"/>
    <arg name="use_nats"      default="$(eval not use_fake)"/>
    <arg name="use_foxglove"  default="true"/>

    <!-- Start Foxglove -->
    <include if="$(eval use_foxglove)" file="$(find foxglove_bridge)/launch/foxglove_bridge.launch">
        <arg name="port" value="8765" />
    </include>

    <!-- Start map_server -->
    <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find ltms)/params/map_4way.yml"/> -->

    <node if="$(arg use_nats)" name="nats_connector" pkg="nats_ros_connector" type="nats_connector.py" output="screen">
        <param name="host" value="nats://10.0.2.41:4222" />
        <!-- <param name="host" value="nats://10.0.1.134:4222" /> -->
    </node>

    <!-- Start server node -->
    <node name="ltms" pkg="ltms" type="$(eval 'fake_server.py' if use_fake else 'server2.py')" output="screen">
      <param name="name"      value="ltms"/>
      <rosparam>
        model: Bicycle5D
        min_bounds: [-2, -2, -pi, -pi/4, +0.0]
        max_bounds: [+2, +2, +pi, +pi/4, +0.6]
        grid_shape: [41, 41,  25,     5,    7]
      </rosparam>
      <param name="data_dir"  value="$(find ltms)/data"/>
    </node>

</launch>
