<?xml version="1.0"?>
<launch>

    <arg name="delay"           default="2.0" />
    <arg name="yaw_offset"      default="0" />
    <arg name="map_lat"         default="0.0" />
    <arg name="map_lon"         default="0.0" />
    <arg name="map_yaw"         default="0.0" />

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true" output="screen">
        <rosparam subst_value="true">
          publish_filtered_gps: true
          delay: $(arg delay)
          magnetic_declination_radians: 0
          yaw_offset: $(arg yaw_offset)
          zero_altitude: true
          broadcast_cartesian_transform_as_parent_frame: true
          broadcast_cartesian_transform: true
          wait_for_datum: true
          datum:
            - $(arg map_lat)
            - $(arg map_lon)
            - $(arg map_yaw)
            - map
            - base_link
        </rosparam>
        <remap from="/imu/data"                                         to="/imu/data" />
        <remap from="/gps/fix"                                          to="/gps/fix" />
        <remap from="/odometry/filtered"                                to="/odometry/filtered/global" />
    </node>

</launch>